html, body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(19, 5, 5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #f3b226;
	height: 50px;
	padding-top: 25px;
	color: hsl(0, 3%, 6%);
	text-align: center;
}

header img {
    width: 40px;
    height: 40px;    
}

.menu a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

h3 {
	font-family: oblique
}

main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;	
}

img {
	width: 350px;
	height: 400px;  
}

footer{
	text-align: center;
	color: whitesmoke;
}

#teste3{position: relative;top: 0;;padding: 4px;background-color: #f3b226; 
	
	transition: all .2 ease-in-out}
#teste3:hover{top: -4px;box-shadow:0 5px 5px hwb(0 89% 9%)}